.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: blueviolet;
	padding: 10px;
	
}
.grid-item{
	background-color: rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.8);
	padding:20px;
	font-size:30px;
	text-align:center;
}

.container{
	display:grid;
	gap: 10px;
	background-color: blue;
	padding:10px;
}
.grid-it{
	background-color: rgba(255,255,255,0.8);
	padding:20px;
	font-size:30px;
	text-align:center;
}
.it1 {
	grid-column: 1 / span 2;
	grid-row: 1;
}
.it2 {
	grid-column: 3;
	grid-row: 1/ span 2;
}
.it5{
	grid-column: 1/ span 3;
	grid-row: 3;
}
.cont{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 10px;
	background-color: brown;
	padding: 10px;
}

.cont > div{
	background-color: darkorange;
	padding: 20px 0;
	font-size: 30px;
	text-align: center;
}
.itens8{
	grid-area: 1 / 2 / 5 / 6;
	
}